server {
    listen 9001 default_server;

    location / {
        # Uses port internal to the docker network, not the same you would use on your host machine
        proxy_pass http://my-app:3000$uri;
    }

    location /.well-known/openid-configuration {
        proxy_pass http://openid:9002$uri;
    }

    location /certs {
        proxy_pass http://openid:9002$uri;
    }
}
